
*, *::after, *::before{
  box-sizing: border-box;
}

body, 
h1{
  margin: 0;
}

body{
  min-height: 100vh; 
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size:  28px;
  font-family: 'Spartan', sans-serif;
  background-color: var(--des-dark-blue);
}

button {
  font: inherit;
}

button:focus:hover{
  box-shadow: inset 0px 0px 20px 0px  rgba(0, 0, 0, 0.329);
}

:root{
--very-dark-blue-3: hsl(224, 36%, 15%);
--des-dark-blue: hsl(225, 21%, 49%);
--des-dark-blue-2: hsl(224, 28%, 35%);
--red: hsl(6, 63%, 50%);
--light-grayish-orange: hsl(30, 25%, 89%);
--text-dark-blue: hsl(221, 14%, 31%);
}

.calculator{
  height: 700px;
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

.spaces-2{
  grid-column: span 2;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator__output{
  min-height: 15%;
  padding-right: 1rem;
  background-color: var(--very-dark-blue-3);
  border-radius: 20px;
  color: white;
}

.calculator__body{
  margin-top: 1rem;
  height: 74%;
  padding: 1em;
  background-color: var(--des-dark-blue-2);
  border-radius: 20px;
}

button{
  border-radius: 20px;
  background-color: var(--light-grayish-orange);
}

.btn--blue{
 background-color: var(--des-dark-blue)
}

.text-white{
  color: white;
}

.btn--red{
  background-color: var(--red);
}

/* Footer section */

.attribution { 
  margin-top: 2rem;
  padding: 1rem;
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

